[Unit]
Description=Timing process status probing

[Timer]
OnBootSec=10s
OnUnitInactiveSec=10s
AccuracySec=100ms
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
